/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
main,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rowJusAroAliAro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.col {
  display: flex;
  flex-direction: column;
}

.rowJusAro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main {
  border: 2px solid black;
  border-radius: 50px;
  height: 350px;
  width: 400px;
  gap: 10px;
  background-color: rgb(0, 0, 0, .6);
}

.reel {
  height: 75px;
  width: 75px;
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reel img {
  width: 65px;
  height: 65px;
  margin: 4px 0;
  object-fit: cover;
  border-radius: 5px;
  display: block;

}

/* Source Chatgpt */
.reel div {
  display: flex;
  flex-direction: column;
  transform: translateY(0);
  transition: transform 1s ease-out;
}

/* Source Chatgpt */
@keyframes spin {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-420px);
  }
}

#total {
  margin: 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background-color: #1a1a1a;
  color: #e0e0e0;
  font-family: 'Creepster', cursive;
  background-image: url('../img/Holloween/background2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2 {
  color: #9c27b0;
}

h3 {
  background-color: rgb(223, 86, 44);
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px 20px;
}

h3:hover {
  background-color: #e64a19;
  cursor: pointer;

}

h4 {
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0, .4);
  padding: 5px;
  border-radius: 10px;
}